

nav{
    height: 4rem;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    list-style: none;
    display:  flex;
    gap: 2rem;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: var(--transition);
}
nav ul li a:hover{
    letter-spacing: 4px;
}

nav ul li .join{
    background-color: var(--color-secondry);
    padding: 0.3rem 0.8rem;
    border-radius: 8px;
    color: var(--color-primary);
    font-weight: 600;
}

/* ==================MEDIA QURIES (MEDIUM DEVICES)=============== */

@media screen and (max-width:1024px){

    
}

/* ==================MEDIA QURIES (SMALL DEVICES)=============== */

@media screen and (max-width:600px) {
    nav ul {
        display: none;
    }   
}