.search__container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    color: var(--color-primary-variant);
}

.search__item{
    color: var(--color-primary) !important;
    background-color: var(--color-secondry);
    padding: 5rem;
    border-radius: 8px;
    -webkit-box-shadow: 3px 6.5px 30px 2px #ffc800;
    -moz-box-shadow: 3px 6.5px 30px 2px #ffc800;
    box-shadow: 3px 6.5px 30px 2px #ffc800;
}
.search__item p{
    font-weight: 300;
}
.search__item input{
    display: block;
    width: 100%;
    margin-top: 0.3rem;
    padding: 0.7rem;
    border: none;
    border-radius: 8px;
    margin-top: 1rem;
}

.search__item input:focus{
    outline: var(--color-primary);
}
.search__item button{
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.7rem 0.5rem;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    transition: var(--transition);
    cursor: pointer;
}
.search__item button:hover{
    background-color: var(--color-primary-variant);
}